@import "../../_globalColor";

.skills-main-div {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.skills-main-div.skills-single {
  display: block;
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.skills-text-div {
  margin-left: 50px;
}

.skills-single .skills-text-div {
  margin-left: 0;
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-single .software-skills-main-div {
  justify-content: center;
}

.skills-heading {
  @include section-heading;
}
.subTitle {
  color: $subTitle;
}

/* Media Query */
@media (max-width: 768px) {
  .skills-heading {
    text-align: center;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
}
