@import "../../_globalColor";

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.splash-animation-container {
  height: 50vh;
}

.splash-title-container {
  font-size: clamp(1.1rem, 5vw, 2.5rem);
  text-decoration: none;
  text-align: center;
  max-width: 100%;
  padding: 0 16px;
}
.splash-title {
  font-family: $mono;
  font-weight: bold;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
  padding: 0 8px;
}
